body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-size: 48px;
}

h1 {
    
}

.field-container {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: white;
}

.calendar {
    width: 60vw;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border-collapse: collapse;
}

.day {
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
}

.events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    background-color: #E5E5E5;
    /* padding: 15px 20px; */
    width: 122px;
    height: 63px;
    line-height: 63px;
    border: 2px rgb(28, 29, 28) solid;
    border-radius: 5px;
    margin: 55px;
}